<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
   <!--  <welcome-file>index.jsp</welcome-file> -->
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
    <servlet>
    <servlet-name>update_Servlet</servlet-name>
    <servlet-class>update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_Servlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  
<!--  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Retrieve</servlet-name>
    <servlet-class>retrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Retrieve</servlet-name>
    <url-pattern>/retrieve</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>-->
</web-app>